
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Cinta Transportadora</title>

    <link rel="stylesheet" 
    href="https://cdn.jsdelivr.net/npm/bootstrap@4.6.2/dist/css/bootstrap.min.css" 
    integrity="sha384-xOolHFLEh07PJGoPkLv1IbcEPTNtaed2xpHsD9ESMhqIYd0nLMwNLD69Npy4HI+N" crossorigin="anonymous">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/Layout.css') }}">
</head>

<body>
    <div class="container p-3">
        
        
        <h1>CINTA TRANSPORTADORA
        </h1><br>
        <img src="static/images/smart-belt.jpg" alt="">
        <div class="container p-3">
            <form action="/home" method="post">
                <label for="nombre">Ingrese la cantidad de alimentos del cajon: </label><br>
                <input type="text" id="cantidad" name="cant" ><br><br>
        
                <input type="submit" value="Agregar">
            </form>
        </div>
       
    </div>
    
</body>
</html>