<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Ups!</title>
    <link rel="stylesheet" 
    href="https://cdn.jsdelivr.net/npm/bootstrap@4.6.2/dist/css/bootstrap.min.css" 
    integrity="sha384-xOolHFLEh07PJGoPkLv1IbcEPTNtaed2xpHsD9ESMhqIYd0nLMwNLD69Npy4HI+N" crossorigin="anonymous">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/main.css') }}">
</head>
<body>
    <br>

    <div class="container">
        <h1>RESPUESTA INCORRECTA</h1><br>
        <img src="static/images/incorrecto.png" alt="">
    </div>

    <form action="/trivia" method="POST">
        <input type="hidden" name="valor" value="Incorrecto">
        <input type="submit" value="Continuar ->" href="trivia.html">

    </form><br>


    

      
    
</body>
</html>